<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean id="dt" class="java.util.Date">
		<property name="year" value="110" />
		<property name="month" value="10" />
		<property name="date" value="10" />
	</bean>

<bean id="st" class="com.nt.model.Student" p:sno="11" p:sname="sunil" p:saddrs="del"      />
<!-- 	<bean id="st" class="com.nt.model.Student"> -->
<!-- 		<property name="sno" value="10" /> -->
<!-- 		<property name="sname" value="anil" /> -->
<!-- 		<property name="saddrs" value="hyd" /> -->
<!-- 	</bean> -->

<!-- 	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"  -->
<!-- 		></bean>  -->
	<context:annotation-config />
</beans>
